.kids-products-container {
  position: relative;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
  
    .kids-product-title {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
      margin-bottom: 1.5rem;
    }
  
    .show-all-kids-products-btn {
      position: absolute;
      top: 1rem;
      right: 2rem;
      display: block;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      font-weight: 600;
      background-color: #9dc8f0;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s ease;
  
      &:hover {
        background-color: #e55b50;
      }
    }
  
    .kids-products-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      justify-content: center;
      align-items: stretch;
      margin-top: 2rem;
      
      p {
        text-align: center;
        font-size: 1.2rem;
        color: #777;
      }
    }
  }
  