@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

// Mobile screen
.cart {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $popup-bg;

  .cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: $popup-display-bg;
    @include shadow1;
    overflow: scroll;
    scrollbar-color: $red $yellow;
    scrollbar-width: thin;

    // Empty cart
    .empty-cart-wrapper {
      .close-icon {
        position: absolute;
        top: 0.6rem;
        right: 1rem;
        cursor: pointer;

        &:hover {
          color: $tomato;
        }
      }
      .empty-cart {
        @include subTitle;
        font-size: $one;
      }
    }

    // cart order wrapper
    .cart-order-wrapper {
      position: relative;

      .close-icon {
        position: absolute;
        top: 0.6rem;
        right: 1rem;
        cursor: pointer;

        &:hover {
          color: $tomato;
        }
      }

      .subTitle {
        @include subTitle;
        font-size: $one;
      }

      // single cart
      .single-cart-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
      }
    }

    .cart-horizontal-line {
      width: 100%;
      height: 0.1rem;
      background-color: #beb3b3;
    }

    .cart-items-total-price {
      padding: 1rem;
      font-size: $one;
      .cart-items-total-price-amount {
        color: $blue;
        font-size: $one;
      }
    }

    // checkout buttons
    .cart-checkout-btn-container {
      margin: 0 1rem;
      .checkout-now-btn {
        @include button3;
        font-size: $one;

        &:hover {
          background-color: #6161df;
        }
      }
    }
  }
}
