@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.withdrawal-form-modal {
  @include modal;

  .shop-withdrawal-form-popup {
    @include popupBox;

    .close-withdrawal-popup {
      @include closeModal;
    }

    .shop-withdrawal-form-title {
      @include title;
    }

    .withdrawal-form {
      @include flexColumn;

      .form-inputs-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
      }

      .withdrawal-form-btn {
        @include button3;
        margin-top: 2rem;
      }
    }
  }
}
