@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.message-dashboard-modal {

  .message-dashboard-wrapper {
    width: $laptop;
    margin: auto;
    @include shadow3;

    .message-dashboard-title {
      @include title;
      font-size: $one;
    }
  }
}

/* Tablet screen size */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .message-dashboard-modal {

    .message-dashboard-wrapper {
      width: $laptop;
      margin: auto;
      @include shadow3;

      .message-dashboard-title {
        @include title;
        font-size: $one;
      }
    }
  }
}

/* Laptop screen size */
@media screen and (min-width: 1024px) {
  .message-dashboard-modal {

    .message-dashboard-wrapper {
      width: $laptop;
      margin: auto;
      @include shadow3;

      .message-dashboard-title {
        @include title;
      }
    }
  }
}
