@import "../../../styles/mixins.scss";
@import "../../../styles/Variables.scss";

.create-product {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Helvetica Neue", sans-serif;

  .create-product-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
  }

  .input-container {
    margin-bottom: 1.5rem;

    label {
      font-size: 1.1rem;
      font-weight: bold;
      color: #333;
      display: block;
      margin-bottom: 0.5rem;
    }

    .input-wrapper {
      position: relative;

      .input-icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #aaa;
      }

      input,
      select,
      textarea {
        width: 100%;
        padding: 10px 15px 10px 35px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
        background-color: #f9f9f9;
        transition: border 0.3s ease-in-out;

        &:focus {
          border: 1px solid #007bff;
          background-color: #fff;
        }

        &::placeholder {
          color: #aaa;
        }
      }

      textarea {
        height: 150px;
        resize: vertical;
      }

      .input-field {
        height: 40px;
      }
    }

    small.error {
      color: #e74c3c;
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }
  }

  .variants-fieldset {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #f7f7f7;
    border-radius: 6px;
    border: 1px solid #ddd;

    .variants-legend {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: #333;
    }

    .single-create-product-variant-wrapper {
      @include shadow1;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 1rem;
      padding: 3rem 1rem 1rem 1rem;

      &:nth-child(odd) {
        background: #f0f8ff; // Light blue
      }

      &:nth-child(even) {
        background: #faebd7; // Antique white
      }

      .color-input-container {
        width: 100%;

        .color-input {
          width: 100%;
        }
      }

      .image-input-container {
        width: 100%;
        background-color: #ffffff;

        .image-input {
          width: 100%;
        }
      }

      .single-product-size-wrapper {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
      }

      .remove-variant {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        background-color: #e74c3c;
        color: white;
        border: none;
        padding: 5px 10px;
        font-size: 0.875rem;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #c0392b;
        }
      }

      .add-size {
        background-color: #2ecc71;
        color: white;
        border: none;
        padding: 5px 10px;
        font-size: 0.875rem;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #27ae60;
        }
      }

      .remove-product-size-btn {
        background-color: #f3897d;
        color: black;
        border: none;
        padding: 5px 10px;
        font-size: $sfs;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #c0392b;
        }
      }

      .image-input {
        margin-top: 0.5rem;
      }
    }
  }

  .add-variant {
    display: block;
    width: 25%;
    padding: 10px;
    font-size: 1rem;
    background-color: #65abf7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;

    &:hover {
      background-color: #0056b3;
    }
  }

  button[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    font-size: 1.125rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #218838;
    }

    &:disabled {
      background-color: #ddd;
      cursor: not-allowed;
    }
  }

  .loading-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #007bff;
  }
}

@media (max-width: 768px) {
  .create-product {
    padding: 1rem;
  }

  .input-container {
    margin-bottom: 1rem;
  }

  .input-wrapper {
    input,
    select,
    textarea {
      font-size: 0.9rem;
    }
  }

  button[type="submit"],
  .add-variant {
    font-size: 1rem;
  }
}
