@import "../../../styles/mixins.scss";
@import "../../../styles/Mixins.scss";

.shop-order-refund-form-container {
  @include shadow1;
  background-color: #f8c4c4;

  .shop-order-refund-form-title {
    @include subTitle;
  }

  .shop-order-refund-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffffe1;
    border-radius: 5px;
    padding: 1.5rem 2rem;

    .input-container {
      @include inputContainer;

      .input-label {
        font-size: 1rem;
        font-weight: 500;
        color: #555;
      }

      .input-with-icon {
        display: flex;
        align-items: center;
        background: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 8px 10px;

        .input-icon {
          color: #777;
          margin-right: 8px;
        }

        .input-field {
          flex: 1;
          border: none;
          background: transparent;
          outline: none;
          font-size: 1rem;
        }
      }

      .error-msg {
        color: #d9534f;
        font-size: 0.875rem;
      }
    }

    .shop-order-refund-form-inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
      row-gap: 1rem;
    }

    .textarea-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 10px;

      .input-label {
        font-size: 1rem;
        font-weight: 500;
        color: #555;
      }

      .textarea-input-with-icon {
        width: 100%;
        display: flex;
        align-items: center;
        background: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 8px 10px;

        .input-icon {
          position: absolute;
          top: 2.5rem;
          left: 1rem;
          color: #777;
          margin-right: 8px;
        }

        .input-field {
          flex: 1;
          border: none;
          background: transparent;
          outline: none;
          font-size: 1rem;
          padding-left: 1.5rem;
        }
      }

      .error-msg {
        color: #d9534f;
        font-size: 0.875rem;
      }
    }

    .shop-order-refund-form-btn {
      background: #007bff;
      color: white;
      border: none;
      padding: 10px;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s ease;
      text-align: center;

      &:hover {
        background: #0056b3;
      }

      &:disabled {
        background: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
