@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.left-center {
  display: flex;
  align-items: center;
}

.middle-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem
}

.shop-orders-container {
  @include mobileDashboardScreen;
}

.order-action-table-icon-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;

  .display-order-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    color: $blue;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $green;
      transform: scale(1.1);
    }
  }

  .order-delete-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    color: $tomato;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $red;
      transform: scale(1.1);
    }
  }
}

/* Tablet screen size */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .shop-orders-container {
    @include tabletDashboardScreen;
  }
}

/* Laptop screen size */
@media screen and (min-width: 1024px) {
  .shop-orders-container {
    @include desktopDashboardScreen;
  }
}
