@import "../../../styles/mixins.scss";
@import "../../../styles/Mixins.scss";

.shop-order-details-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem 0;
  background: #fff;
  border-radius: 12px;

  // Header Section
  .order-details-header-wrapper {
    text-align: center;
    margin-bottom: 2rem;

    .order-details-header-title {
      @include title;
    }

    .order-details-header-date {
      font-size: 1rem;
      color: #666;
      margin-top: 0.5rem;
    }
  }


  // Order Cancelled Section
  .order-cancellation-reason-container {
    margin-top: 1rem;
    padding: 1rem;
    background: #f8d7da;
    border-radius: 8px;

    .order-cancellation-reason-title {
      @include subTitle;
      color: #721c24;
    }

    .order-cancellation-reason-paragraph {
      font-size: 0.9rem;
      color: #721c24;
    }
  }


  // Order Return Section
  .order-return-reason-container {
    margin-top: 1rem;
    padding: 1rem;
    background: #f8d7da;
    border-radius: 8px;

    .order-return-reason-title {
      @include subTitle;
      color: #721c24;
    }

    .order-return-reason-paragraph {
      font-size: 0.9rem;
      color: #721c24;
    }
  }
}
