@import "../../../styles/mixins.scss";
@import "../../../styles/Mixins.scss";

.refund-order-processing-container {
  @include shadow1;
  background-color: #ffe5ec;

  .order-refund-form-wrapper {
    .order-refund-form-title {
      @include subTitle;
    }

    .order-refund-form {
      display: flex;
      flex-direction: column;

      .input-container {
        position: relative;
        display: flex;
        align-items: center;

        .input-field {
          @include inputField;
        }

        .input-icon {
          position: absolute;
          left: 10px;
          font-size: 1.2rem;
          color: #555;
        }
      }

      .textarea-input-container {
        position: relative;
        display: flex;
        align-items: center;

        .input-field {
          @include inputField;
        }

        .input-icon {
          position: absolute;
          top: 1rem;
          left: 10px;
          font-size: 1.2rem;
          color: #555;
        }
      }

      .order-refund-btn {
        @include button3;
        background: #dc3545;
        outline: none;
        border: none;

        &:hover {
          background: #c82333;
        }
      }
    }
  }

  .order-refund-history-wrapper {
    .order-refund-history-title {
      @include subTitle;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }

    .order-refund-history-list {
      .order-refund-history-item {
        .refund-info {
          font-size: 0.9rem;
          color: #555;
        }
      }
    }
  }
}
