@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.user-refund-request-container {
  @include shadow1;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  .user-refund-request-title {
    @include subTitle;
  }

  .user-refund-request-form {
    display: flex;
    flex-direction: column;

    .textarea-container {
      position: relative;
      display: flex;
      align-items: center;

      .textarea-field {
        @include inputField;
      }

      .input-icon {
        position: absolute;
        top: 1rem;
        left: 10px;
        font-size: 1.2rem;
        color: #555;
      }
    }
  }

  .refund-request-btn {
    width: 25%;
    background-color: #ff4d4d;
    color: white;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    transition: 0.3s;

    &:hover {
      background-color: #cc0000;
    }
  }
}
