@import "../../../styles/mixins.scss";
@import "../../../styles/Mixins.scss";

.shop-order-refund-request-container {
  @include shadow1;
  background-color: #ffd6ff;
  padding: 1rem 1.5rem;

  .shop-order-refund-request-title {
    @include subTitle;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .shop-order-refund-request-details-wrapper {
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .shop-order-refund-request-infos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;

      .shop-order-refund-request-info-left,
      .shop-order-refund-request-info-right {
        .refund-request-info {
          .request-on-for {
            font-weight: bold;
            color: blue;
          }
        }

        .refund-request-info {
          margin: 0.5rem 0;
          font-size: 0.8rem;
          color: #333333;
          line-height: 1.5;
        }
      }
    }

    .shop-order-refund-request-info-title {
      @include subTitle;
      margin-top: 1rem;
    }

    .shop-order-refund-request-reason-paragraph {
      @include paragraph;
      font-size: 1rem;
      line-height: 1.6;
      color: #333333;
      margin-top: 0.5rem;
    }
  }
}
